<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		@* Custom Style *@
        <link href="~/css/authlayout.css" rel="stylesheet" type="text/css" media="all" />
    </div>
</body>
</html>
